<div class="container-fluid" id="wrapper">
  <div class="row">
    <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
      <h1 class="site-title" routerLink="/">
        <a>
          <em class="fa fa-rocket"></em> Flight App</a>
      </h1>

      <a class="btn btn-default" id="menu-toggle">
        <em class="fa fa-bars"></em>
      </a>

      <ul class="nav nav-pills flex-column sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
            <em class="fa fa-dashboard"></em> Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="passenger" routerLinkActive="active">
            <em class="fa fa-users"></em> Passenger</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="flights" routerLinkActive="active">
            <em class="fa fa-plane"></em> Flights</a>
        </li>
      </ul>

      <button [hidden]="isLoggedIn" class="logout-button btn-success" (click)="login()">
        <em class="fa fa-power-off"></em> Log in
      </button>
      <button [hidden]="!isLoggedIn" class="logout-button btn-danger" (click)="logout()">
        <em class="fa fa-power-off"></em> Log out
      </button>
    </nav>

    <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
