<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title">Basket</h3>

    <h6 class="card-subtitle mb-2 text-muted">List of selected
      flights</h6>

    <ul class="todo-list mt-2">
      <li class="todo-list-item">
        Flights:
        <pre>{{selectedFlights | json}}</pre>
      </li>
    </ul>

    <div class="card-footer todo-list-footer">
      <button class="btn btn-danger btn-md" id="btn-todo" (click)="deleteAllFlights()">
        <em class="fa fa-2x fa-trash"></em>
      </button>
    </div>
  </div>
</div>
